# Ignorar node_modules en el proyecto frontend
frontend/node_modules/

# Ignorar target en el proyecto backend
target/

# Ignorar .idea en el proyecto backend

.idea/

# Ignorar environment

src/.env
src/.env.local
src/.env.development
src/.env.production