@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 25% 96.86%;
    --foreground: 216 100% 1.96%;

    --primary: 214.57 92% 19.61%;
    --primary-foreground: 0 0% 100%;

    --card: 210 25% 96.86%;
    --card-foreground: 216 100% 1.96%;

    --popover: 0 0% 100%;
    --popover-foreground: 216 100% 1.96%;

    --secondary: 214.29 22.58% 87.84%;
    --secondary-foreground: 210 100% 0.78%;

    --muted: 213.33 21.95% 91.96%;
    --muted-foreground: 0 0% 40%;

    --accent: 213.33 21.95% 91.96%;
    --accent-foreground: 214.57 92% 19.61%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 90.2%;
    --input: 0 0% 90.2%;
    --ring: 214.57 92% 19.61%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 210 100% 0.78%;
    --foreground: 214.29 22.58% 87.84%;

    --primary: 214.57 92% 19.61%;
    --primary-foreground: 0 0% 100%;

    --card: 210 100% 0.78%;
    --card-foreground: 214.29 22.58% 87.84%;

    --popover: 210 100% 0.78%;
    --popover-foreground: 214.29 22.58% 87.84%;

    --secondary: 214.55 94.29% 6.86%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 7.41% 10.59%;
    --muted-foreground: 210 0.79% 50.59%;

    --accent: 214.55 94.29% 6.86%;
    --accent-foreground: 214.29 22.58% 87.84%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 214.57 92% 19.61%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-color: #dcd8cf;
  }
}
