@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 25% 96.86%;
    --foreground: 216 100% 1.96%;

    --primary: 214.57 92% 19.61%;
    --primary-foreground: 0 0% 100%;

    --background: 210 16.67% 97.65%;
    --foreground: 210 27.27% 4.31%;

    --primary: 210 28.97% 41.96%;
    --primary-foreground: 0 0% 100%;

    --card: 210 16.67% 97.65%;
    --card-foreground: 210 27.27% 4.31%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 27.27% 4.31%;

    --secondary: 206.67 20% 91.18%;
    --secondary-foreground: 220 33.33% 1.76%;

    --muted: 210 20% 94.12%;
    --muted-foreground: 0 0% 40%;

    --accent: 210 20% 94.12%;
    --accent-foreground: 210 28.97% 41.96%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 90.2%;
    --input: 0 0% 90.2%;
    --ring: 210 28.97% 41.96%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 220 33.33% 1.76%;
    --foreground: 206.67 20% 91.18%;

    --primary: 210 28.97% 41.96%;
    --primary-foreground: 0 0% 100%;

    --card: 220 33.33% 1.76%;
    --card-foreground: 206.67 20% 91.18%;

    --popover: 220 33.33% 1.76%;
    --popover-foreground: 206.67 20% 91.18%;

    --secondary: 211.43 28% 14.71%;
    --secondary-foreground: 0 0% 100%;

    --muted: 220 5.08% 11.57%;
    --muted-foreground: 210 0.8% 50.98%;

    --accent: 211.43 28% 14.71%;
    --accent-foreground: 206.67 20% 91.18%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 210 28.97% 41.96%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    /* background-color: #dcd8cf; */
  }
}

.loader {
  @apply relative w-20 h-20;
}

.loader-dot {
  @apply absolute w-4 h-4 rounded-full bg-blue-500;
}

.loader-dot:nth-child(1) {
  @apply animate-loader1 top-0 left-1/4;
}

.loader-dot:nth-child(2) {
  @apply animate-loader2 top-1/4 left-0;
}

.loader-dot:nth-child(3) {
  @apply animate-loader2 top-1/2 right-0;
}

.loader-dot:nth-child(4) {
  @apply animate-loader3 bottom-1/4 left-1/2;
}

@keyframes loader1 {
  0% {
    @apply scale-0;
  }
  100% {
    @apply scale-100;
  }
}

@keyframes loader3 {
  0% {
    @apply scale-100;
  }
  100% {
    @apply scale-0;
  }
}

@keyframes loader2 {
  0% {
    @apply translate-x-0 translate-y-0;
  }
  100% {
    @apply translate-x-6 translate-y-6;
  }
}

@layer utilities {
  /* Aquí puedes definir tus clases de animación */
  .animate-loader1 {
    animation: loader1 0.6s infinite;
  }

  .animate-loader2 {
    animation: loader2 0.6s infinite;
  }

  .animate-loader3 {
    animation: loader3 0.6s infinite;
  }
}
